flow.json
[
  {
    "id": "aa2a39665ea84aa9",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "e64993a36ee3d0af",
    "type": "tab",
    "label": "Flow 2",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "93278da9f74d9bbd",
    "type": "tab",
    "label": "Flow 3",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "9c188baed29cb521",
    "type": "mqtt-broker",
    "name": "",
    "broker": "localhost",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "c2ac34649e837087",
    "type": "function",
    "z": "aa2a39665ea84aa9",
    "name": "function 1",
    "func": "msg.payload = Math.floor(Math.random()*10)+25;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 100,
    "y": 200,
    "wires": [
      [
        "67665c7dd29b47d2"
      ]
    ]
  },
  {
    "id": "67665c7dd29b47d2",
    "type": "mqtt out",
    "z": "aa2a39665ea84aa9",
    "name": "",
    "topic": "home/livingroom/temperature",
    "qos": "1",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "9c188baed29cb521",
    "x": 190,
    "y": 280,
    "wires": []
  },
  {
    "id": "b1f7bbb52754c97f",
    "type": "inject",
    "z": "aa2a39665ea84aa9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 120,
    "wires": [
      [
        "c2ac34649e837087"
      ]
    ]
  },
  {
    "id": "b73c3609f68a1091",
    "type": "function",
    "z": "e64993a36ee3d0af",
    "name": "function 2",
    "func": "msg.payload = Math.floor(Math.random()*20)+50;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 120,
    "y": 160,
    "wires": [
      [
        "6bc0800693161df2"
      ]
    ]
  },
  {
    "id": "6bc0800693161df2",
    "type": "mqtt out",
    "z": "e64993a36ee3d0af",
    "name": "",
    "topic": "home/livingroom/humidity",
    "qos": "1",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "9c188baed29cb521",
    "x": 190,
    "y": 240,
    "wires": []
  },
  {
    "id": "c996bf1902bec47a",
    "type": "inject",
    "z": "e64993a36ee3d0af",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 80,
    "wires": [
      [
        "b73c3609f68a1091"
      ]
    ]
  },
  {
    "id": "a6034c1cc0f18351",
    "type": "debug",
    "z": "93278da9f74d9bbd",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 420,
    "y": 260,
    "wires": []
  },
  {
    "id": "548263abdd8d1a60",
    "type": "mqtt in",
    "z": "93278da9f74d9bbd",
    "name": "Wildcard Subscriber",
    "topic": "home/#",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "9c188baed29cb521",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 470,
    "y": 160,
    "wires": [
      [
        "a6034c1cc0f18351"
      ]
    ]
  }
]
